.button {
    background: $bright-blue;
    color: #fff;
    padding: $s-size;
    border: none;
    font-size: $font-size-large;
    font-weight: 300;

    display: inline-block;
    text-decoration: none;

    line-height: 1;
}

.button--link {
    background: none;
    color: #afafaf;
}

.button--secondary {
    background: lightgrey;
}